<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table id="engineers"></table>
    <script type="text/javascript">
        const URL = "http://localhost:8080/api/v1/user"
        const table = document.querySelector('#engineers');
        fetch(URL)
            .then(response => response.json())
            .then(engineers => {
                let thead = document.createElement('thead');
                thead.setAttribute("border", "2");
                let tr = document.createElement('tr');
                tr.setAttribute("border", "2");
                let td1 = document.createElement('td').innerHTML = '№';
                tr.append(td1);
                let td2 = document.createElement('td').innerHTML = 'email';
                tr.append(td2);
                let td3 = document.createElement('td').innerHTML = 'firstName';
                tr.append(td3);
                let td4 = document.createElement('td').innerHTML = 'lastName';
                tr.append(td4);
                let td5 = document.createElement('td').innerHTML = 'phone';
                tr.append(td5);
                thead.append(tr);
                table.append(thead);
                let tbody = document.createElement('tbody');
                for (const basicUser of engineers) {
                    let tr = document.createElement('tr');
                    tr.append(
                        document.createElement('td').innerHTML = basicUser.id
                    );
                    tr.append(
                        document.createElement('td').innerHTML = basicUser.email
                    );
                    tr.append(
                        document.createElement('td').innerHTML = basicUser.firstName
                    );
                    tr.append(
                        document.createElement('td').innerHTML = basicUser.lastName
                    );
                    tr.append(
                        document.createElement('td').innerHTML = basicUser.phone
                    );
                    tbody.append(tr);
                }
                table.append(tbody);
                table.setAttribute("border", "2");
            })
            .catch(console.error);


    </script>
</body>
</html>